.jumbotron {
  padding-top: 6rem;
  background-color: #49b8939f;
}
#Gallery {
  background-color: #49b8939f;
}
#About {
  background-color: #49b8939f;
}
#Contact {
  background-color: #49b8939f;
}
section {
  padding-top: 4rem;
}
